# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
node_modules/ 
venv-tf/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# ML models
models/*.pth
models/*.pt
models/*.pkl

# Jupyter Notebook
.ipynb_checkpoints

# OS specific
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

#.env in node_backend 
.env